<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContextName>true</includeContextName>
            <includeStructuredArguments>true</includeStructuredArguments>
            <includeMdc>false</includeMdc>
            <includeCallerData>false</includeCallerData>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>